body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0952c0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #10037e;
}

p {
    color: #555;
    font-size: 18px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}   

button {
    background-color: #10037e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0b025e;
}